<div class="tab-pane" id="content-status" role="tabpanel" title="Status" data-type="default">
{% include ext_tabcontent/get_version.html %}
  <div class='row pt-3'>
     <h5>Appearance</h5>
     <div class="col col-md-auto"><button type="button" onclick="TSLNoTabs()">No Tabs</button><button type="button" onclick="TSLTabs()">Show Tabs</button></div>
  </div>
{% include ext_tabcontent/message_logging.html %}
</div>
{% include ext_tabcontent/follower_alert.html %}
{% include ext_tabcontent/change_stream.html %}
{% include ext_tabcontent/viewer_count.html %}
{% include ext_tabcontent/sub_count.html %}
{% include ext_tabcontent/channel_id.html %}
{% include ext_tabcontent/bits_leaderboard.html %}
{% include ext_tabcontent/profile_picture.html %}
<!--Your external script will be inserted here-->
<!--<script src="example.js"></script>-->
<!--INSERT PART 1-->
 